.App {
  text-align: left;
  display: block;
  margin: 0 auto;
  height: 100vh;
  width: 70%;
  background-color: white;
}

.Background {
  background-color: rgb(200, 200, 200);
  height: 100vh;
}

.App-header {
  padding: 15px 15px 0px 15px;
}

.App-title {
  font-size: 26px;
  font-weight: 300;
  color: rgb(95, 95, 95);
  font-family: Arial
}

.Empty-Cart {
  font-size: 12px;
  font-weight: 400;
  color: rgb(155, 155, 155);
  border-bottom: 1px solid rgb(185, 185, 185);
}

.Bottom {
  display: inline-block;
  width: 100%;
  margin: 5% 0
}